<%= form_for(@gist) do |f| %>
  <% if @gist.errors.any? %>
  	<%#jeśli pojawi się jakikolwiek error wyświetl to jako bootstrapowy alert-error%>
    <div id="error_explanation" class='alert alert-error'>
      <h2><%= pluralize(@gist.errors.count, "error") %> prohibited this gist from being saved:</h2>

      <ul>
      <% @gist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :snippet %><br />
    <%#pole tekstowe bootstrapowej wielkości xxl%>
    <%= f.text_area :snippet, :class=>'input-xxlarge', :rows=>6 %>
  </div>
  <div class="field">
    <%= f.label :lexer %><br />
    <%#pole tekstowe bootstrapowej wielkości xxl%>
    <%= f.text_field :lexer, :class=>'input-xxlarge' %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%#pole tekstowe bootstrapowej wielkości xxl%>
    <%= f.text_area :description, :class=>'input-xxlarge', :rows=>3 %>
  </div>
  <div class="actions">
  	<%#bootstrapowy przycisk%>
    <%= f.submit 'Update gist', :class=>'btn btn-warning'%>
  </div>
<% end %>
