<%#opakowanie całości w kontener%>
<section class="container">
<% title 'Main Page' %>
<h1>Listing gists</h1>
<table class="table table-striped">
<%#bootstrapowa tabela w "zebrę" %>
  <tr>
    <th>Snippet</th>
    <th>Lexer</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gists.each do |gist| %>
  <tr>
    <td><%= gist.snippet %></td>
    <td><%= gist.lexer %></td>
    <td><%= gist.description %></td>
    <%# bootstrapowe przyciski %>
    <td><%= link_to 'Show', gist, :class=>'btn btn-success'%></td>
    <td><%= link_to 'Edit', edit_gist_path(gist), :class=>'btn btn-info' %></td>
    <td><%= link_to 'Destroy', gist, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-danger' %></td>
</tr>

<% end %>
</table>

<%= #will_paginate @gists, :renderer => BootstrapPagination::Rails 
%>

<%= link_to 'New Gist', new_gist_path, :class=>'btn btn-inverse'%>
</section>

