<% require 'pygments' %>
<style type="text/css">
	<%= Pygments.css(style: "colorful") %>
</style>
<%#opakowanie całości w kontener%>
<section class='container'>
<% title 'Show' %>
<br>
<%#jeśli istnieje jakieś powiadomienie - wyświetl jako bootstrapowy alert-success%>
<% if notice %>
<p class='alert alert-success'><%= notice %></p>
<% end %>
<dl>
  <dt>Snippet</dt>
  <dd>
	  <%=
	  	begin
			raw Pygments.highlight(@gist.snippet, lexer: @gist.lexer) 
		rescue Exception=>e
			raw("<pre>")+@gist.snippet+raw("</pre>")
		end  
	  %>
  </dd>
  <dt>Lexer</dt>
  <dd><%= @gist.lexer %></dd>
  <dt>Description</dt>
  <dd><%= @gist.description %><dd>
</dl>

<%#bootstrapowe przyciski%>
<%# raw Pygments.highlight(@gist.snippet, lexer: @gist.lexer) %>
<%= link_to 'Edit', edit_gist_path(@gist), :class=>'btn btn-info'%> 
<%= link_to 'Back', gists_path ,:class=>'btn btn-success'%>
</section>
